.bpw-widget-btn {
    background-color: #ff8c00 !important;
}
.bpw-widget-btn:hover {
    background-color: #1a73e8 !important;
}
.bpw-floating-button {
    border-radius: 50% !important;
}
.bpw-layout {
    position: fixed !important;
    bottom: 2% !important;
    right: 2% !important;
    padding: 0.5em !important;
    height: 70% !important;
    border-left: none !important;
}
.bpw-chat-container {
    background-color: transparent !important;
    color: #000000 !important;
}
.bpw-header-container {
    border: none !important;
}
.bpw-header-title-container {
    display: none !important;
}
.bpw-header-icon-reset{
    display: none !important;
}
.bpw-header-icon-download{
    display: none !important;
}
.bpw-header-icon-close{
    position: fixed !important;
    right: 3% !important;
}
.bpw-header-icon svg, .bpw-header-icon svg path {
    fill: #1a73e8 !important;
}
.bpw-message-big-container{
    margin: 0.3rem 0 !important;
}
.bpw-from-user {
    padding-right: 0;
    display: inline;
}
.bpw-from-user .bpw-bot-avatar {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: -34px !important;
    float: right !important;
    width: 10% !important;
}
.bpw-from-user .bpw-message-container {
    width: 88%;
}
.bpw-chat-bubble-content {
    border: none !important;
    padding: 0.3rem 0.75rem !important;
}
.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #f1f1f1 !important;
    border-radius: 5px !important;
    color: #000000 !important;
}
.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #1a73e8 !important;
    border-radius: 5px !important;
}
.bpw-bubble-session_reset {
    background-color: red !important;
}
.Linkify div{
    font-size: small !important;
}
.bpw-bubble-file a img {
    max-height: 120px !important;
}

.bpw-keyboard-quick_reply {
    background-color: #e7f1fc !important;
    border: none !important;
    border-radius: 5px !important;
}
.bpw-button{
    background-color: #ff8c00 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 5px !important;
}
.bpw-button:hover {
    background-color: #1a73e8 !important;
}
.bpw-composer {
    border: none !important;
    padding: 0em !important;
    border-radius: 5px !important;
    border: 1px solid #1a73e8 !important;
}
.bpw-composer-inner {
    display: flex !important;
    padding: 0em !important;
    height: 45px !important;
}
.bpw-send-buttons {
    padding-right: 0.5em !important;
}
.bpw-send-button {
    border-radius: 5em;
    background: url('https://img.icons8.com/ios/50/000000/sent.png') !important;
    background-position: center;
    background-repeat: no-repeat;
}
/* .bpw-powered {
    display: none !important;
} */